<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="container w-100">
        <div class="row bg-info">
            <!-- <img src="./image-asset.gif" alt="image"> -->
        </div>
        <div class="container">
            <h1>Blood donation</h1>
            <p>Blood donation isn't just for showing off that you have a kind heart,
                it is an act you do willingly from the bottom of your heart.
                Remember, everytime you give blood, you save a life.
                Blood donation isn't just for showing off that you have a kind heart,
                it is an act you do willingly from the bottom of your heart.
                Remember, everytime you give blood, you save a life.
                Blood donation isn't just for showing off that you have a kind heart,
                it is an act you do willingly from the bottom of your heart.
                Remember, everytime you give blood, you save a life.
            </p>
        </div>
        <div class="row my-5">
            <div class="card mx-2" style="width: 18rem;">
                <img class="card-img-top" src="./redb.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">The blood you donate gives someone another chance at life.
                      one day, that someone may be a close relative, a friend, a loved one or even you
                  </p>
                  <footer class="blockquote-footer" id="footer1">anonymous</footer>
                </div>
              </div>
            <div class="card mx-2" style="width: 18rem;">
                <img class="card-img-top" src="./redb.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Blood donation costs you nothing but it can mean a world to someone in need</p>
                  <footer class="blockquote-footer" id="footer2">anonymous</footer>
                </div>
              </div>
              <div class="card mx-2" style="width: 18rem;">
                <img class="card-img-top" src="./redb.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Blood donation is a real act of humanity</p>
                  <footer class="blockquote-footer" id="footer3">anonymous</footer>
                </div>
              </div>
        </div>
    </div>
</body>
</html>