body {
    font-family: "Poppins";
    background: #FF416C; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #FF4B2B,
        #FF416C
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #FF4B2B,
        #FF416C
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form{
    height: 633px;
    border: 1px solid black;
    padding: 5rem;
    border-radius: 3rem;
    box-shadow: 20px 20px #212529;
    background-color: #fff;
    margin: 7rem auto;
}

.btn-blood {
    margin: 12px 0;
    background-color: #FD3A5C;
    color: #fff;
}
.btn-blood:hover {
    background-color: #fff;
    color: #FD3A5C;
    border: 1px solid #FD3A5C;
}
